@import "src/App";

.pagination {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    grid-gap: 20px;
}

.pagination-wrapper {
    background-image: url('./img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    @media (min-width: $tabletDevice) {
        min-height: 700px;
    }

}

.pagination-wrapper-opener {
    //position: absolute;
    //bottom: 0;
    min-height: 50px;
    padding-top: 50px;
}

.pagination-controls,
.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagination-controls {
    padding-top: 40px;
}

.pagination-buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.pagination-button {
    font-size: 20px;
    border: 2px solid $pureBlack;
    border-radius: 10px;
    background-color: $pureWhite;
    padding: 10px;
    min-width: 100px;
}

.pagination-current-page {
    font-size: 22px;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    text-align: center;
    padding: 20px;
}