@import 'src/App';

.landing {
  @media (min-width: $mobileDevice) {
    min-height: $mobileDevice;
  }

  @media (min-width: $tabletDevice) {
    min-height: $tabletDevice;
  }

  @media (min-width: $largeTabletDevice) {
    min-height: $largeTabletDevice;
  }

  @media (min-width: $desktopDevice) {
    min-height: $desktopDevice;
  }

  @media (min-width: $largeDesktopDevice) {
    min-height: $largeDesktopDevice;
  }
}

.landing {
  margin: 0;
}

.landing__wrapper {
  width: 100%;
  @media (min-width: $desktopDevice) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 700px;
    //max-width: $desktopDevice;
  }
  @media (min-width: $largeDesktopDevice) {
    //max-width: $largeDesktopDevice;
  }
}

.landing__header {
  display: grid;
  margin: 0 auto;
  @media (min-width: $tabletDevice) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice / 2;
    grid-template-rows: 2fr 1fr;
  }
}

.landing__header-img {
  background-image: url('img/landingHeader.png');

  @media (min-width: $mobileDevice) {
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
  }

  @media (min-width: $desktopDevice) {
    aspect-ratio: auto;
  }
}

.landing__header-motto {
  @media (min-width: $mobileDevice) {
    margin: 0 20px 0 20px;
  }

  @media (min-width: $tabletDevice) {
    margin: 0 40px 0 40px;
  }
  @media (min-width: $desktopDevice) {
    margin: 120px 0 40px 0;
  }
}

.landing__header-heading {
  @media (min-width: $mobileDevice) {
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
  }

  @media (min-width: $tabletDevice) {
    font-size: 34px;
    line-height: 34px;
    font-weight: 800;
    margin: 20px 0 20px 0;
  }
  @media (min-width: $desktopDevice) {
    font-size: 50px;
    line-height: 68px;
  }
}

.landing__header-description {
  @media (min-width: $mobileDevice) {
    font-size: 16px;
    line-height: 25px;
  }

  @media (min-width: $tabletDevice) {
    margin: 0 0 25px 0;
    font-size: 20px;
    line-height: 25px;
  }
  @media (min-width: $desktopDevice) {
    font-size: 20px;
    line-height: 32px;
  }
}

.landing__header-buttons {
  @media (min-width: $mobileDevice) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px 0 20px;
    grid-gap: 15px;
  }
  @media (min-width: $largeTabletDevice) {
  max-width: $largeTabletDevice;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice / 2;
    padding-bottom: 0;
    max-height: 100px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.landing__header-button:first-child {
  @media (min-width: $mobileDevice) {
    background-color: $pureBlack;
    color: $pureWhite;
  }
}

.landing__header-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $mobileDevice) {
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    color: $pureBlack;
    border: 1px solid $pureBlack;
    padding: 15px;
  }

  @media (min-width: $tabletDevice) {
  }
  @media (min-width: $desktopDevice) {
    min-width: 200px;
    max-height: 50px;
  }
}