@import "src/App";

.categories__navigation {
    margin: 0;
    padding: 0;
}

.categories__list {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    width: 100%;
    padding: 20px;
    margin: 0;
    @media screen and (min-width: $mobileDevice) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    @media screen and (min-width: $tabletDevice) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $desktopDevice) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.categories__Section {
    background-size: cover;
    position: relative;
    list-style: none;
    border-radius: 10px;
    height: 500px;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: $pureWhite;
    background-repeat: no-repeat;
}

.categories__Section-name {
    position: absolute;
    bottom: 107px;
    left: 40px;
}

.categories__Section-beds {
    background-image: url('./img/beds.png');
}

.categories__Section-chairs {
    background-image: url('./img/chairs.png')
}

.categories__Section-desks {
    background-image: url('./img/desks.png')
}

.categories__Section-cupboards {
    background-image: url('./img/cupboards.png')
}

.categories__Section-sofas {
    background-image: url('./img/sofas.png')
}

.categories__Section-carpets {
    background-image: url('./img/carpets.png')
}

.categories__Section-link {
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: $pureWhite;
    text-decoration: none;
}

.categories__Section::before {
    cursor: pointer;
    position: absolute;
    content: '';
    width: 120px;
    height: 120px;
    background: url('./img/arrow.svg') no-repeat center;
    transform: translate(90px, 380px);
}
