@import "src/App";

.wishlist {
    display: grid;
    padding: 0 20px;
    grid-template-rows: 7fr 0.1fr;
    width: 100%;
}

.wishlist__header {
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: 45px;
}

.wishlist__remove-button {
    min-height: 50px;
    border-radius: 10px;
    background-color: $pureWhite;
    color: $pureBlack;
    font-size: 20px;
    margin: auto auto 30px auto;
    border: 1px solid $pureBlack;
    padding: 0;
    width: 100%;
    &:hover {
        background-color: $productCardDiscount;
    }
}

.wishlist__card-wrapper {
    display: grid;
    padding-bottom: 30px;
    @media (min-width: $mobileDevice) {
        max-width: $mobileDevice;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    @media (min-width: $tabletDevice) {
        max-width: $tabletDevice;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    @media (min-width: $desktopDevice) {
        max-width: $desktopDevice;
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $largeDesktopDevice) {
        max-width: $largeDesktopDevice;
        grid-template-columns: repeat(4, 1fr);
    }
}

.wishlist__expectations {
    margin-top: 40px;
    font-size: 20px;
}