.productCard__preview-wrapper {
    margin: 0;
    padding: 0;
    max-width: 400px;
    max-height: 418px;
    color: var(--productCardText);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.productCard__PreviewUrl {
    display: block;
    position: relative;
}

.productCard__price {
    color: var(--productCardSalesText);
    text-decoration: line-through;
    padding-right: 5.5px;
}

.productCard__priceNoDiscount {
    font-weight: bold;
    font-size: 25px;
    padding-right: 10px;
    color: var(--productCardPrice);
}

.productCard__discount {
    font-size: 25px;
    color: var(--productCardDiscount);
}

.productCard__rating {
    padding-top: 10px;
    font-size: 16px;
    color: var(--productCardSalesText);
}

.productCard__group {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    display: flex;
    line-height: 34px;
    list-style: none;
}

.productCard__star {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(./img/ratingStar.svg);
}

.productCard__sold {
    padding-left: 10px;
    max-height: 18px;
}

.productCard__preview {
    max-width: 400px;
    max-height: 300px;
}

.productCard__title {
    font-size: 23px;
    font-weight: 700;
    line-height: 31px;
    padding-top: 14.5px;
}

.productCard__button {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../../img/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.productCard__button_liked {
    background-image: url(../../img/liked.svg);
}