@import 'src/App';

.filtered-results {
  display: grid;
  margin: 0 auto;
  padding: 20px;
  @media (min-width: $tabletDevice)  {
    max-width: $tabletDevice;
  }

  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    grid-template-columns: 1fr 3fr;
    padding: 0;
  }

  @media (min-width: $largeTabletDevice) {
    max-width: $largeTabletDevice;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.filtered-results-menu {
  position: relative;
}

.filtered-results-header {
  position: absolute;
  right: 0;
  top: 10px;
  text-align: center;
  border: 1px $pureBlack solid;
  background-color: $pureWhite;
  color: $pureBlack;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  min-width: 100px;

  @media (min-width: $largeTabletDevice) {
    text-align: left;
    left: 0;
  }
}

.filtered-results-controls {
  display: grid;
  padding-top: 30px;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  @media (min-width: $tabletDevice)  {
    max-width: $tabletDevice;
  }
  @media (min-width: $largeTabletDevice)  {
    max-width: $largeTabletDevice;
    grid-template-columns: 1fr;
  }
  @media (min-width: $desktopDevice) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1.5fr 5fr;
  }
}

.filtered-results-max-price,
.filtered-results-min-price {
  display: flex;
  justify-content: flex-start;
  border: $greyBorder 1px solid;
  @media (min-width: $tabletDevice)  {
    min-height: 52px;
  }
}

.filtered-results-price-label {
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $greyBackground;
}

.filtered-results-price-input {
  border: none;
  width: 100%;
  padding-left: 10px;
  min-height: 30px;
  @media (min-width: $desktopDevice) {
    padding-left: 20px;
  }
}

.filtered-results-category,
.filtered-results-rating,
.filtered-results-coloring {
  display: grid;
  grid-template-rows: 1fr;
  @media (min-width: $mobileDevice) {
    grid-template-columns: 1fr 8fr;
  }
  @media (min-width: $tabletDevice) {
    grid-template-columns: 1fr 9fr;
  }
  @media (min-width: $desktopDevice) {
    grid-template-columns: 1fr 10fr;
  }
  @media (min-width: $largeDesktopDevice) {
    grid-template-columns: 1fr 15fr;
  }
}

.products-to-filter {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
  grid-gap: 20px;
}

.filtered-results-products {
  @media (min-width: $desktopDevice) {
    display: grid;
  }
}

.filtered-results__sorting-input {
  display: none;
}

.filtered-results__sorting-by-price {
  display: grid;
  grid-gap: 20px;
  padding-top: 20px;
}

.filtered-results-unsorted,
.filtered-results-sorted {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  min-height: 30px;
}

.filtered-results-sorted {
  color: red;
}

.filtered-results-category-wrapper {
  padding-bottom: 3px;
}