@import 'src/App';

.filtered-results {
  display: grid;
  margin: 0 auto;
  @media (min-width: $mobileDevice)  {
    max-width: $mobileDevice;
    padding: 20px;
  }

  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 0 100px 50px 20px;
  }

  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.filtered-results-menu {
  position: relative;
}

.filtered-results-header {
  position: absolute;
  right: 0;
  text-align: right;
  border: 1px $pureBlack solid;
  background-color: $pureWhite;
  color: $pureBlack;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;

  @media (min-width: $tabletDevice) {
    text-align: left;
    left: 0;
  }
}

.filtered-results-controls {
  display: grid;
  padding: 45px 20px 20px 20px;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  @media (min-width: $mobileDevice)  {
    max-width: $mobileDevice;
  }
  @media (min-width: $tabletDevice)  {
    max-width: $tabletDevice;
    grid-template-columns: 1fr;
  }
  @media (min-width: $desktopDevice) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1.5fr 2fr;
  }
}

.filtered-results-max-price,
.filtered-results-min-price {
  display: flex;
  justify-content: flex-start;
  border: $greyBorder 1px solid;
  @media (min-width: $mobileDevice)  {
    min-height: 52px;
  }
}

.filtered-results-price-label {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $greyBackground;
}

.filtered-results-price-input {
  border: none;
  width: 100%;
}

.filtered-results-category,
.filtered-results-rating {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr;
}

.products-to-filter {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
  grid-gap: 20px;
}