// colors
$pureBlack: #000000;
$productCardSalesText: #78788C;
$productCardDiscount: #DF0000;
$productCardPrice: #29293E;
$pureWhite: #ffffff;
$singleCardText: #29293E;
$productCardDetails: #777888;
$menuBackground: #E0EBED;
$greyBackground: #E5E5E5;
$greyBorder: #CACACA;
$pureBlue: #618DFF;
$darkBlue: #4266E8;

// media queries
$mobileDevice: 480px;
$tabletDevice: 768px;
$largeTabletDevice: 992px;
$desktopDevice: 1024px;
$largeDesktopDevice: 1440px;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
    margin: 0 auto;
  }
}
